# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
#   http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.    

# ClusterManager portion
[ClusterManager]
service = tashi.clustermanager.ClusterManagerService
data = tashi.clustermanager.data.Pickled
nodeManagerPort = 9883

[ClusterManagerService]
convertExceptions = True
port = 9882
expireHostTime = 30.0
allowDecayed = 30.0
allowMismatchedVersions = False
maxMemory = 7680
maxCores = 8
allowDuplicateNames = False
;bind = 0.0.0.0 ; not supported (Thrift is missing support to specify what to bind to!)

[FromConfig]
host1 = Host(d={'id':1,'name':'blade043'})
host2 = Host(d={'id':2,'name':'blade044'})
host3 = Host(d={'id':3,'name':'blade045'})
host4 = Host(d={'id':4,'name':'blade074'})
machineType1 = MachineType(d={'id':1,'name':'1c-512m','memory':512,'cores':1})
network1 = Network(d={'id':1,'name':'global'})
network2 = Network(d={'id':2,'name':'NAT'})
user1 = User(d={'id':1,'name':'mryan3'})

[Pickled]
file = /var/tmp/cm.dat

[SQL]
#uri = sqlite:///var/tmp/cm_sqlite.dat
uri = mysql://root@localhost/tashi
password = changeme

# NodeManger portion
[NodeManager]
Dfs = tashi.dfs.Vfs
VmControl = tashi.nodemanager.vmcontrol.Qemu
Service = tashi.nodemanager.NodeManagerService

[NodeManagerService]
convertExceptions = True
port = 9883
registerFrequency = 10.0
infoFile = /var/tmp/nm.dat
clusterManagerHost = localhost
clusterManagerPort = 9882
;bind = 0.0.0.0 ; not supported (Thrift is missing support to specify what to bind to!)

[Qemu]
qemuBin = /usr/local/bin/qemu-system-x86_64
infoDir = /var/tmp/VmControlQemu/
pollDelay = 1.0
migrationRetries = 10
monitorTimeout = 60.0
migrateTimeout = 300.0
maxParallelMigrations = 10
useMigrateArgument = False

[XenPV]
vmNamePrefix = tashi
transientdir = /tmp

[Vfs]
prefix = /var/tmp/

[LocalityService]
host = localityserver
port = 9884
staticLayout = /location/of/layout/file

# Client configuration
[Client]
clusterManagerHost = localhost
clusterManagerPort = 9882
clusterManagerTimeout = 5.0

# Agent portion
[Primitive]
hook1 = tashi.agents.DhcpDns
scheduleDelay = 2.0

[DhcpDns]
dnsKeyFile = /location/of/private/key/for/dns
dnsServer = 1.2.3.4 53
dnsDomain = your.domain.com
dnsExpire = 31536000
dhcpServer = 1.2.3.4
dhcpKeyName = OMAPI
dhcpSecretKey = ABcdEf12GhIJKLmnOpQrsT==
ipRange = 172.16.128.0/17
reverseDns = True

# Logging stuff
# Switch the "keys" and "handlers" variables below to output log data to ganglia metrics
[loggers]
keys = root	

[handlers]
#keys = consoleHandler,gangliaHandler
keys = consoleHandler

[formatters]
keys = standardFormatter

[logger_root]
level = DEBUG
#handlers = consoleHandler,gangliaHandler
handlers = consoleHandler
propagate = 1
	
[handler_consoleHandler]
class = StreamHandler
level = NOTSET
formatter = standardFormatter
args = (sys.stdout,)

[handler_gangliaHandler]
class = tashi.GangliaLogHandler
level = NOTSET
formatter = standardFormatter
args = (60, 2, 'default')

[formatter_standardFormatter]
format=%(asctime)s [%(name)s:%(levelname)s] %(message)s
datefmt=
class=logging.Formatter

# Message Broker
[MessageBroker]
host = localhost
port = 1717

